body {
  font-family: Roboto Mono, 'monospace';
  font-weight: 300;
  font-size: 1em;
  background-color: #F2F2F2;
  margin: 50px 20px;
  border: solid 4px #343434;
}
  
h1, h2, h3 {
  font-family: Roboto;
  margin: 0;
  padding: 20px 0;
}
  
h2 {
  font-size: 1.8em;
  line-height: 30px;
}
  
h3 {
  font-size: 1.5em;
}
  
p {
  padding: 0 0 10px 0;
}
  
[placeholder] {
  font-family: Roboto Mono, 'monospaced';
  font-weight: 300;
}
  
ul {
  padding: 0;
}
  
li {
  font-weight: 500;
  font-size: 1em;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
img {
  object-fit: cover;
  width: 100%;
  height: 60vh;
  display: block;
}

label {
  color: white;
  display: block;
  font-weight: 500;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 5px 0 25px 0;
  box-sizing: border-box;
  border: solid 2px #F2F2F2;
  box-shadow: 0;
  outline: 0 none;
}

input {
  padding: 10px;
}

textarea {
  padding: 10px 10px 30px 10px;
}
  
button {
  font-family: Roboto Mono, 'monospaced';
  font-weight: 500;
  margin: 5px 0;
  width: 100%;
  padding: 0;
  border: none;
}

button > p {
  padding: 0;
}

footer {
  padding: 20px 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  
/* Utilities */

li > p {
  margin: 0;
  padding: 0;
}

.paddingTopBottom {
  padding: 30px 0;
}

.foto-portada {
  height: 40vh;
}

.content {
  display: block;
  position: relative;
}

.big-bold-text {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 25px; 
}
  
.italic-text {
  font-style: italic;
}

.orange-text {
  color: #FF6666;
}

.blue-text {
  color: #7F97FF;
}
  
.box {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
  
.border-box {
  border-color: #343434;
  border-width: 0 0 4px 0;
  border-style: solid;
}
  
.box-title {
  color: black;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  text-align: center;
}
  
.box-title-mono {
  text-decoration: none;
  font-size: 1.7em;
  font-family: Roboto Mono;
  font-weight: 500;
  line-height: 25px;
}
  
.h1-box {
  padding: 60px 10px;
  font-size: 3em;
  line-height: 40px;
}
  
.blue-box {
  background-color: #7F97FF;
}
  
.orange-box {
  background-color: #FF6666;
}

.grey-box {
  background-color: #343434;
}
  
.margin-box {
  margin: 0 25px 0 25px;
}
  
.contact-background {
  background-image: url("../img/foto-telefono.JPG");
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF6666;
}

ul.grey-border {
  border-color: #343434;
  border-width: 4px 4px 0 4px;
  border-style: solid;
}

.white-border {
  border-color: #F2F2F2;
  border-width: 4px 0 0 0;
  border-style: solid;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 12%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 20px 0 0;
}

/* No me funciona esto :( 

li[class^="grey-border-"] {
  border-color: #343434;
  border-width: 0 0 4px 0;
  border-style: solid;
}

*/

/* Y si lo hago de esta manera es muuuuy largo */

.grey-border-left-bottom {
  border-color: #343434;
  border-width: 0 0 4px 0;
  border-style: solid;
}

.grey-border-left-top {
  border-color: #343434;
  border-width: 0 0 4px 0;
  border-style: solid;
}

.grey-border-right-bottom {
  border-color: #343434;
  border-width: 0 0 4px 0;
  border-style: solid;
}

.grey-border-right-top {
  border-color: #343434;
  border-width: 0 0 4px 0;
  border-style: solid;
}


/* Locura de hovers */

button:hover {
  background-color: #FF6666;
}

input:focus,textarea:focus {
  border: solid 2px #FF6666;
}

.hover-box:hover,.hover-box:active {
  background-color: #7F97FF;
}


.foto-maria, .foto-pau {
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-maria {
  background-image: url("../img/maria-def.JPG");
}

.foto-pau {
  background-image: url("../img/pau-def.JPG");
}

.foto-maria > .parrafos,.foto-pau > .parrafos {
  visibility: hidden;
}

.foto-maria:hover,.foto-maria:active {
  background-image: url("../img/maria-white-def.png");
}

.foto-pau:hover,.foto-pau:active {
  background-image: url("../img/pau-white-def.png");
}


.foto-maria:hover > .parrafos,.foto-pau:hover > .parrafos {
  visibility: visible;
  font-size: 0.9em;
}

.grey-hover:hover {
  background-color: #343434;
  color: white;
}


/* Media queries */

@media (min-width: 500px) {
  .icon {
    width: 8%;
    height: 8%;
  }
  body {
    margin: 60px 40px;
  }

  .foto-maria:hover > .parrafos,.foto-pau:hover > .parrafos {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .name-text::after {
    content: "Haz click en mi foto para saber más sobre mí";
    color: black;
    font-size: 0.4em;
    line-height: 15px;
    margin-top: 10px;
  }
}

@media (min-width: 650px) {

  footer {
    padding: 20px 100px;
  }

  .icon {
    width: 20%;
    height: 100%;
  }

  .socialMedia {
    display: flex;
    flex-wrap: wrap;
  }

  .socialMedia > li{
    flex: 50%;
    box-sizing: border-box;
  }

  ul.socialMedia {
    border-color: #343434;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
  }

  .social.grey-border-left-bottom {
    border-color: #343434;
    border-width: 0 0 2px 2px;
    border-style: solid;
  }

  .social.grey-border-right-bottom {
    border-color: #343434;
    border-width: 0 2px 2px 0;
    border-style: solid;
  }

  .social.grey-border-left-top {
    border-color: #343434;
    border-width: 2px 0 0 2px;
    border-style: solid;
  }

  .social.grey-border-right-top {
    border-color: #343434;
    border-width: 2px 2px 0 0;
    border-style: solid;
  }

  .foto-maria, .foto-pau {
    padding: 30px;
    height: 100vh;
  }

}


@media (min-width: 900px) {

  body {
    margin: 80px;
  }

  h2 {
    font-size: 2.7em;
    line-height: 45px;
  }
    
  h3 {
    font-size: 2.3em;
    line-height: 35px;
  }

  footer {
    padding: 20px 200px;
  }

  .big-box-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .big-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .big-box-reverse > div, .big-box > div, .big-box > a {
    flex: 1;
  }

  .margin-box {
    margin: 50px;
  }

  .foto-portada {
    box-sizing: border-box;
    height: 100%;
  }
  
  .border-left {
    border-color: #343434;
    border-width: 0 0 0 4px;
    border-style: solid;
  }

  .border-left-bottom {
    border-color: #343434;
    border-width: 0 0 4px 4px;
    border-style: solid;
  }

  .contact-background {
    height: 100%;
    box-sizing: border-box;
  }

  .content {
    margin: 10px 50px;
  }

  .foto-maria, .foto-pau {
    padding: 50px;
  }

  input, textarea {
    margin: 5px 0 5px 0;
  }
}

@media (min-width: 1215px) {

  .icon {
    width: 10%;
    height: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row > li{
    flex: 50%;
    box-sizing: border-box;
  }

  ul.grey-border {
    border-color: #343434;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
  }

  .grey-border-left-bottom {
    border-color: #343434;
    border-width: 0 0 2px 2px;
    border-style: solid;
  }

  .grey-border-right-bottom {
    border-color: #343434;
    border-width: 0 2px 2px 0;
    border-style: solid;
  }

  .grey-border-left-top {
    border-color: #343434;
    border-width: 2px 0 0 2px;
    border-style: solid;
  }

  .grey-border-right-top {
    border-color: #343434;
    border-width: 2px 2px 0 0;
    border-style: solid;
  }

  .white-border-left-bottom {
    border-color: #F2F2F2;
    border-width: 0 0 2px 2px;
    border-style: solid;
  }

  .white-border-right-bottom {
    border-color: #F2F2F2;
    border-width: 0 2px 2px 0;
    border-style: solid;
  }

  .white-border-left-top {
    border-color: #F2F2F2;
    border-width: 2px 0 0 2px;
    border-style: solid;
  }

  .white-border-right-top {
    border-color: #F2F2F2;
    border-width: 2px 2px 0 0;
    border-style: solid;
  }

}

@media (min-width: 1300px) {

  footer {
    padding: 20px 350px;
  }
}



